<!DOCTYPE html>
<html>
<!-- Axentix CSS minified version -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.css">
<!-- Axentix JS minified version -->
<script src="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.js"></script>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome !
			{% endblock %}
		</title>
		<link
		rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
		{# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}

		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</head>

	<div id="example-sidenav" data-ax="sidenav" class="sidenav shadow-1 sidenav-fixed white">
		<div class="sidenav-header">

		</div>
		<a href="#profil" class="sidenav-link active">Mon Profil</a>
		<a href="#coins" class="sidenav-link">Mes Coins</a>
		<a href="#upload" class="sidenav-link">Mes Upload</a>
		<a href="#contact" class="sidenav-link">Mes Contact</a>
	</div>

<main>
	<button data-target="example-sidenav"
			class="btn rounded-1 press amaranth dark-1 hide-md-up">
		 PLUS
	</button>
</main>
	{% block body %}{% endblock %}
		<script src="https://cdn.jsdelivr.net/npm/axentix@2.2.1/dist/axentix.min.js"></script>
	<script>
		var sidenav = new Sidenav('#exemple-sidenav')
	</script>
	</body>
</html>
