{% extends 'userProfil.html.twig' %}

{% block title %}Modification des Coins{% endblock %}

{% block body %}
    <div class = "grix xs4 container" >
        <div class="col-xs4">
            <h1>Modification des coins</h1>

            {{ form(form) }}
        </div>


    </div>

{% endblock %}
